.corpo{
    width: 80%;
    height: 90%;
    padding: 2% 2%;
    margin: auto;
    font-family: arial;
    color: whitesmoke;
    font-size: 20px;
    
}
.boxText{
    border: 1px solid rgb(212 175 55);
    border-radius: 50px;
    text-align: center;
    padding: 2% 2%;
    margin-left: 10%;
    margin-right: 10%;
    
}
body{
    background-color: darkslategrey;
}
#imgSubaru{
    border: 1px solid rgb(212 175 55);
    border-radius: 50px;
}
#impreza{
    width:261px; 
    height: 196px;
    border: 1px solid rgb(212 175 55);
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    margin: 2% 2%;
}
#subaruText{
    display: flex;
    flex-direction: row;
}
#subaruBox{
    display: flex;
    flex-direction: row;
}
.boxButton{
    border: 1px solid rgb(212 175 55);
    border-radius: 50px;
    text-align: center;
    padding: 2% 2%;
    margin-left: 30%;
    margin-right: 30%;
}
#btnStyle{
	border-radius:28px;
	border:1px solid rgb(212 175 55);
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
}
#btnStyle:hover{
    border:1px solid rgb(212 175 55);
    background-color: rgb(212 175 55);
    color: darkslategrey;
}
#headButtons{
    border-radius:28px;
	border:1px solid rgb(212 175 55);
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
}
#supraHW{
    width:261px; 
    height: 196px;
    border: 1px solid rgb(212 175 55);
    border-radius: 50px;
}
#carName{
    border-radius: 28px;
    border: 1px solid rgb(212 175 55);
    padding: 16px 31px;
    background-color: darkslategrey;
    margin-bottom: 2%;
    color: white;
}
button{
    background-color: darkslategrey;
}